In [7]:
import numpy as np
import pandas as pd

In [59]:
df = pd.read_csv("bitcoin_data.csv")
df

               Date     Close
0     1/1/2022 0:00  46224.93
1     1/1/2022 0:01  46309.63
2     1/1/2022 0:02  46378.34
3     1/1/2022 0:03  46347.92
4     1/1/2022 0:04  46347.67
...             ...       ...
8635  7/1/2022 0:00  43142.26
8636  7/1/2022 0:01  43099.28
8637  7/1/2022 0:02  43135.15
8638  7/1/2022 0:03  43116.29
8639  7/1/2022 0:04  43113.05

[8640 rows x 2 columns]

In [61]:
df.drop(['Date'], 1, inplace=True)

<ipython-input-61-4ce20afa0cea>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop(['Date'], 1, inplace=True)

In [62]:
df.rename(columns = {'Close':'Price'}, inplace=True)

In [63]:
df.head(7)

      Price
0  46224.93
2  46378.34
3  46347.92
4  46347.67
5  46411.40
6  46485.51
7  46427.88

In [64]:
# A variable for predicting 'n' price in future
prediction_days=180 #n = prediction_days = 180
# Create another column shifted 'n' units up
df['Prediction'] = df[['Price']].shift(-prediction_days)

In [65]:
df.head(7)

      Price  Prediction
0  46224.93    46813.08
2  46378.34    46804.80
3  46347.92    46768.31
4  46347.67    46791.36
5  46411.40    46781.73
6  46485.51    46800.67
7  46427.88    46807.49

In [66]:
df.tail(7)

         Price  Prediction
8633  43147.33         NaN
8634  43103.33         NaN
8635  43142.26         NaN
8636  43099.28         NaN
8637  43135.15         NaN
8638  43116.29         NaN
8639  43113.05         NaN

In [67]:
# Convert the dataframe to a numpy array and drop the prediction column
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n' rows where 'n' is the prediction_days
X = X[:len(df)-prediction_days]

print(X)

[[46224.93]
 [46378.34]
 [46347.92]
 ...
 [43215.43]
 [43225.12]
 [43192.24]]

<ipython-input-67-a227313cd712>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = np.array(df.drop(['Prediction'],1))

In [68]:
# Create the dependent data set
# Convert the dataframe to a numpy array
y = np.array(df['Prediction'])
# Get all of the values except the last 'n' rows
y = y[:-prediction_days]
print(y)

[46813.08 46804.8  46768.31 ... 43135.15 43116.29 43113.05]

In [69]:
#Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [70]:
#Set the prediction_days_array equal to last 180 rows from the orignal data set
prediction_days_array = np.array(df.drop(['Prediction'], 1))[-prediction_days:]
print(prediction_days_array)

[[43238.96]
 [43195.47]
 [43162.31]
 [43174.38]
 [43139.11]
 [43156.96]
 [43177.59]
 [43204.62]
 [43185.31]
 [43159.09]
 [43156.97]
 [43160.67]
 [43188.64]
 [43200.94]
 [43202.6 ]
 [43224.25]
 [43212.19]
 [43208.97]
 [43213.78]
 [43193.81]
 [43134.  ]
 [43130.01]
 [43143.6 ]
 [43160.92]
 [43198.01]
 [43224.48]
 [43222.46]
 [43237.64]
 [43218.91]
 [43191.1 ]
 [43205.3 ]
 [43184.06]
 [43176.67]
 [43204.02]
 [43205.9 ]
 [43170.74]
 [43166.83]
 [43184.61]
 [43146.11]
 [43127.43]
 [43100.01]
 [43102.7 ]
 [43127.12]
 [43146.59]
 [43136.38]
 [43158.42]
 [43174.79]
 [43169.37]
 [43150.75]
 [43158.61]
 [43150.46]
 [43148.63]
 [43115.91]
 [43117.88]
 [43129.2 ]
 [43150.03]
 [43126.37]
 [43120.71]
 [43134.76]
 [43130.91]
 [43149.04]
 [43159.8 ]
 [43157.29]
 [43113.11]
 [43119.68]
 [43125.95]
 [43113.18]
 [43097.01]
 [43051.57]
 [43036.6 ]
 [43077.37]
 [43027.12]
 [43016.98]
 [43060.53]
 [43064.11]
 [43124.  ]
 [43145.86]
 [43122.66]
 [43118.12]
 [43157.16]
 [43148.2 ]
 [43157.34]
 [43136.24]
 [43140.48]
 [43147.61]
 [43148.22]
 [43150.42]
 [43159.06]
 [43182.78]
 [43186.95]
 [43197.04]
 [43208.51]
 [43237.76]
 [43216.67]
 [43193.21]
 [43190.72]
 [43196.89]
 [43165.55]
 [43141.9 ]
 [43112.97]
 [43154.29]
 [43138.49]
 [43138.49]
 [43129.12]
 [43136.32]
 [43145.  ]
 [43165.17]
 [43174.82]
 [43174.82]
 [43191.69]
 [43178.39]
 [43174.14]
 [43192.31]
 [43199.76]
 [43175.08]
 [43174.82]
 [43166.22]
 [43134.27]
 [43137.17]
 [43144.  ]
 [43178.92]
 [43163.66]
 [43145.17]
 [43146.33]
 [43127.12]
 [43104.36]
 [43117.39]
 [43129.39]
 [43141.83]
 [43140.91]
 [43122.31]
 [43124.48]
 [43125.9 ]
 [43101.15]
 [43100.01]
 [43111.09]
 [43100.61]
 [43080.05]
 [43080.02]
 [43080.97]
 [43113.54]
 [43135.94]
 [43153.3 ]
 [43145.  ]
 [43154.89]
 [43159.21]
 [43133.68]
 [43121.35]
 [43145.44]
 [43156.28]
 [43163.  ]
 [43165.  ]
 [43165.  ]
 [43206.94]
 [43209.01]
 [43217.8 ]
 [43227.53]
 [43222.57]
 [43229.72]
 [43213.42]
 [43229.1 ]
 [43210.01]
 [43177.93]
 [43179.46]
 [43132.58]
 [43135.39]
 [43142.8 ]
 [43121.32]
 [43139.38]
 [43118.67]
 [43132.3 ]
 [43136.83]
 [43163.04]
 [43147.33]
 [43103.33]
 [43142.26]
 [43099.28]
 [43135.15]
 [43116.29]
 [43113.05]]

<ipython-input-70-43ba42c90ab5>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  prediction_days_array = np.array(df.drop(['Prediction'], 1))[-prediction_days:]

In [71]:
from sklearn.svm import SVR
#Create and train the Support Vector Machine (Regression) using radial basis function
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, gamma=1e-05)

In [72]:
#Test the Model
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.9151574640063829

In [73]:
#Print the predicted values
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[46377.70736941 47162.79396852 46999.26767824 ... 47082.07699531
 43419.60387371 43172.9039223 ]

[46249.49 47253.96 47348.04 ... 46822.64 43465.88 43174.82]

In [58]:
#Print the model prediction for the next 'n=180' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[46889.4970317  46847.3566203  46792.44825667 46955.63586886
 46949.30920134 46911.12002789 46895.48493657 46904.68440552
 46887.56047214 46792.50070719 46859.68742785 46905.77769947
 46917.88824602 46863.62826854 46845.66840832 46778.31971326
 46849.77051291 46816.98171896 46811.49291401 46745.28232387
 46743.89876911 46690.58182613 46670.94523945 46705.99722677
 46859.9606492  46840.48550627 46851.95288538 46829.71206342
 46860.45719446 46901.41533497 46935.72269896 47006.79488919
 46965.32072818 46961.99426262 46973.38900025 46989.89925955
 46989.91776174 46997.8348716  47020.60690917 47065.50065438
 47059.35649635 47053.24275975 47058.80774029 47053.14326513
 47040.10603382 46959.23080908 46975.15317804 46970.26643433
 46931.57167528 46918.65998476 46905.75445995 46961.60670178
 46968.03349146 46942.29389452 46897.11453942 46888.63704179
 46875.65422882 46843.06756763 46795.95937221 46854.58004261
 46812.21902627 46823.37538167 46782.59097366 46795.5928355
 46841.44819396 46848.58945896 46811.20755999 46834.79322527
 46941.25987906 46762.20611515 46767.90394832 46746.69224888
 46705.99722677 46695.6167795  46783.43380881 46784.90804975
 46779.24312287 46767.50671887 46801.60533367 46801.60533367
 46857.02527204 46839.24285796 46942.61648105 47017.24160317
 46992.82379809 46950.82747413 46970.58411145 46940.84985129
 46892.33168982 46878.49799072 46838.22738623 46841.5494784
 46847.23073341 46853.75516772 46881.71710819 46941.47551705
 46984.57044518 46915.81689287 47021.25947683 47058.19659304
 47033.53136966 47004.32502381 46972.18728284 46917.29729307
 46786.30244927 46730.90714263 46687.85535371 46659.01554597
 46621.30487851 46637.30161105 46510.668829   46493.16824737
 46438.83894937 46432.31518168 46374.89224129 46374.89224129
 46403.8011915  46411.533136   46419.30999431 46469.87304895
 46515.83684826 46542.61256178 46561.72339357 46518.89489485
 46529.85278159 46505.06730686 46478.25979183 46461.5174371
 46618.15059746 46601.41363347 46604.468484   46619.80298163
 46468.03259121 46461.27190318 46395.69746035 46403.27512746
 46487.94576775 46447.95168512 46433.74614479 46350.09006039
 46335.45618077 46330.22100802 46330.22100802 46330.31565685
 46333.80192932 46343.30929606 46344.31697404 46344.31697404
 46342.09460433 46342.09460433 46340.6721291  46344.05957158
 46340.66907695 46346.12042271 46346.11858575 46346.35172117
 46343.94275447 46346.01488808 46341.73370535 46316.34921609
 46305.30217106 46296.29489718 46304.98855227 46328.76559435
 46331.52414852 46335.73397113 46337.95420005 46305.70401063
 46324.82637717 46346.03874822 46342.84371182 46346.20739756
 46339.72162018 46330.12226397 46343.06062718 46342.76922519
 46342.82935741 46346.37067221 46327.78890574 46274.23118394]